*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notificationImagePlus{
  width: 10px;
  height: 10px;
  background-color: transparent;
}

.notificationImageMessage{
  width: 200px;
  height: 200px;
  background-color: transparent;
}

.notificationComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #F0F5FD;
  height: 100vh;
  
}

.notificationTextBar{
  background-color: #F0F5FD;
  color: #3E416D;
}

.notificationBoxText{
  background-color: #61D66B;
}

.notificationAddButtonBar{
  display: flex;
  flex-direction: row;
  gap: 450px;
  background-color: #F0F5FD;
}

.notificationBoxBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  opacity: .7;
  background-color: #F0F5FD;

}

.titleBoxBody{
  color: #3E416D;
  background-color: transparent;
}

.buttonNewNotification{
  width: 200px;
  height: 40px;
  background-color:#61D66B ;
  border-color: transparent;
}

.hola {
  background-color: #F0F5FD;
}