.tableShowNotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f0f5fd;
  gap: 20px;
}

.edit {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.buttonEdit {
  background-color: #292b44;
  border-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 25px;
}

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: separate;
  margin: 1rem;
  background-color: beige;
  border-radius: 15px;
}

.notificationAddButtonShow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
}
