.Navbar__body{
  width: 20%;
  height: 100vh;
  background-color: #343757;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.Navbar__tittle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.Navbar__logo{
  width: 100px;
  height: 100px;
}

.Navbar__icons{
  width:20px;
  height:20px;
}

.Navbar__Buttons{ 
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 10px;
  
  
  
}

.Navbar__Button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  font-size: large;
  color: white;
}
